$lightgreen: 		#4FB69F;
$lightyellow: 		#faf3bc;

body {
	font-family: 'Nunito', sans-serif;
	color: $lightyellow;
	background: #420600 url('img/bg-texture.jpg') repeat;
}

.navbar {
	ul {
		float: right;
		list-style: none;
		margin: 7em 0 0 0;
		li {
			float: left;
			margin-right: 1.5em;
		}
	}
}


a {
	text-decoration: none;
	color: $lightgreen;
}

h1 {
	font-size: 1.75em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
	color: #B4C34F;
}

.butt {
	color: $lightyellow;
	background: $lightgreen;
	padding: 1em;
	border-radius: 2em;
	text-transform: uppercase;
	&:hover {
		background: green;
	}
}


.intro {
	margin: 3em 0 0 0;
}

.featured, .fresh {
	img {
		border: 6px solid $lightgreen;
		margin: 0 0 20px 0;
	}
}

.copyright {
	border-top: .75em solid #2a0400;
	padding: 10px;
	text-align: center;
	margin: 2em 0 0 0;
}