<!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text jumbotron container">
        <div class="header_text">
	        <h1>Arizona Graffiti</h1>
	        <h2>Highlighting the coolest graffiti in Arizona</h2>
	        <p>
	        	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	        	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	        </p>
    	</div>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->